* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
.container {
    width: 80%;
    margin: 0 auto;
}
.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.col-md-4 {
    flex-basis: 33%;
}
.col-md-2 {
    flex-basis: 16%;
}
.col-md-10 {
    flex-basis: 82%;
}